
$chatColor: #8EF6F6;
$chatText: #3498db;
$senderText: #151515;
$receiverText: #151515;
$senderbgc: #9BFED5;
$receiverbgc: #9BF7FE;
$namefontsize: 15px;
$nameFF: fantasy;
$messageText: black;
$messageFF: helvetica;
$messagefontsize: 13px;
.chatContainer{
   width: 320px;
   margin: 20px;
   border-right: 3px solid gray;
   border-radius: 15px;
   border-left: 3px solid gray;
}
.chatHeader{
   display: flex;
   height: 38px;
   background-color: gray;
   border-radius: 10px 10px 0 0;
   margin-bottom: 10px;
}
.screen{
   min-height: 100px;
   max-height: 400px;
   overflow-y: auto;
}
.speech-wrapper{
   width: 320px;
   display: flex;
   flex-direction: column;
}
.chatButton{
   font-size: 16px;
   background-color: grey;
   color: whitesmoke;
   border:none;
   margin-top: -4px;
   margin-left: 8px;
   transform: rotate(55deg);
}
.chatButton:hover{
   color: black;
}
.chatFooter{
   display: flex;
   height: 44px;
   margin-top: 20px;
   background-color: gray;
   border-radius: 0 0 10px 10px;
}
.bodyInput{
   margin: 10px 10px 4px 25px;
}
.messageInput{
   margin-left: 10px;
   width: 200px;
   height: 18px;
}
.sender{
   width: 240px;
   height: auto;
   display: flex;
   align-self: flex-end;
   background: $senderbgc;
   border-radius: 4px;
   box-shadow: 2px 8px 5px #000;
   position: relative;
   margin: 15px 25px 15px 0;
}      
.receiver{
         width: 240px;
         height: auto;
         display: flex;
         align-self: flex-start;
         background: $receiverbgc;
         border-radius: 4px;
         box-shadow: 2px 8px 5px #000;
         position: relative;
         margin: 15px 25px 15px 25px;
}          
.senderTxt{
   padding: 8px 55px 8px 14px;
   .name{
      font-weight: 600;
      font-size: $namefontsize;
      font-family: $nameFF;
      margin: 0 0 4px;
      color: $senderText;
   }
   span{
      font-weight: normal;
      color: #b3b3b3;
   }

   .message{
      font-size: $messagefontsize;
      font-family: $messageFF;
      margin: 0;
            color: $messageText;
   }

   .timestamp{
      font-size: 11px;
      position: absolute;
      bottom: 8px;
      right: 10px;
      text-transform: uppercase; color: #999
   }
}
.receiverTxt{
   padding: 8px 55px 8px 14px;
   .name{
      font-weight: 600;
      font-size: $namefontsize;
      font-family: $nameFF;
      margin: 0 0 4px;
      color: $receiverText;
   }
   span{
      font-weight: normal;
      color: #b3b3b3;
   }

   .message{
      font-size: $messagefontsize;
      font-family: $messageFF;
      margin: 0;
            color: $messageText;
   }

   .timestamp{
      font-size: 11px;
      position: absolute;
      bottom: 8px;
      right: 10px;
      text-transform: uppercase; color: #999
   }
}
     
   
