@import '../Home/colors.scss';

.team-main {
    height: 85vh;
    width: 100vw;
    overflow: scroll;
}

.team-header {
    font-size: 40px;
    display: flex;
    justify-content: left;
    margin: 20px;
    font-weight: bold;
}

.team-name {
    font-size: 3em;
    color: $blue;
}

.add-member {
    border: none;
    color: $blue;
    background-color: white;
    float: right;
    margin: 24px 14px;
}

.member-header {
    color: $blue;
    display: flex;
    justify-content: left;
    margin: 0 20px;
}

.members{
    width:auto;
    height: auto;
    border: 2px black solid;
    border-color: $blue;
   
}

.team-test{
    height: 300px;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;

}
.team-filler{
    height: 300px;
    width: 100vw;
   
}

.create-team{
    margin-top:100px;
  }