
.header {
    display: none;
  }

  .header-links {
      display: none;
  }

  .header-logout {
      display: none;
  }
  
@media only screen and (min-width: 768px) {
    /* For desktop: */

    .header {
      display: flex;
     justify-content: space-around;
      align-items: center;
      background-color: white;
      width: 100vw;
      height: 80px;
      border-bottom: solid black 2px;
    }

    .mood-title {
      color: #607d8b;
      font-size: 50px;
    }

    .ful-title {
      color: #b8907c;
      font-size: 50px;
    }

  .header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #607d8b;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    width: 250px;
    height: 50px;
    border-radius: 25px;
  }
  
  .header-links:hover {
    border: solid #b8907c 3px;
    border-radius: 25px;
  }
  
  .header-links:focus {
    background-color: #b8907c;
    border: solid #607d8b 3px;
  }

  .header-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    font-weight: bolder;
    width: 250px;
    height: 50px;
    background-color: #607d8b;
    border: none;
    border-radius: 25px;
  }
  
  .header-logout:hover {
    border: solid #b8907c 3px;
    border-radius: 25px;
  }

  .header-logout:focus {
    background-color: #b8907c;
    border: solid #607d8b 3px;
  }
}