.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  color: white;
  width: 100vw;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: teal;
}

.footer-links {
  color: white;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: fit-content;
  color: white;
  margin-left: 30px;
}

.landing-page-link {
  background-color: teal;
  color: white;
  display: flex;
  width: 300px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-size: larger;
  margin-top: 80px;
  margin-left: 30px;
  padding: 15px;
  text-decoration: none;
  border-radius: 25px;
}

.landing-page-link:hover {
  text-decoration: underline;
  border: solid white 2px;
}

.welcome {
  
}

.home {
  height: 100vh;
  width: 100vw;
  background-image: url('https://media.istockphoto.com/photos/young-african-woman-smiling-at-sunset-picture-id969233490?k=6&m=969233490&s=612x612&w=0&h=3UW-GHQ2CksIelqKk0UKgy_7qExPsn1g8B2Q0zzU1xo=');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.breadcrumb-parent {
  display: flex;
  align-items: center;
  background-color: sandybrown;
}

.breadcrumb-trail {
  
}
